
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.8em;
    font-weight: 900;
    margin-bottom: 20px;
    white-space: pre-line;
    line-height: 1.3em;
}

h2 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 20px;
    white-space: pre-line;
}

h3 {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 20px;
}

ol {
    padding: 1em 3em 1em 0;
    list-style-type: decimal;
    padding-left: 2em;
    font-weight: 500;
}

ul {
    padding: 1em 3em 1em 0;
    list-style-type: disc;
    padding-left: 2em;
}
